

label {
  font-family: "Verdana";
  font-style: italic;
}

div.submit {
  text-align: left;
}

button:hover {
  
  }

#review-container {
    -webkit-column-count: 3;
    -webkit-column-gap: 12px;
}

.review {
    margin: 10px; 
    width: 30%;
}