<body>
<br>
<br>
<br>
<br>

  <div class="container">
    <div class="row">
      
      <div class="col-md-12">
        <div class="form-group">
          <form action="/reviews/create" method="POST">
          <fieldset>
          <legend><h2>New Review</h2
          ></legend>
            <div class="col-md-12">
              <input type="text" placeholder="Title" name="review_title" class="form-control" tabindex="6">
            </div>
            <div class="col-md-12">
              <textarea placeholder="Review" class="form-control" rows="8" name="review" tabindex="7"></textarea>
            </div>
            <div class="col-md-12">
              <button type="submit" class="btn btn-default" tabindex="8" style="display: block; width: 100%">Submit</button>
            </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>